<?xml version="1.0"?>
<configuration>
    <system.web>
      <!--Form认证设置Start-->
      <authorization>
        <allow roles="ADMIN" />
        <deny users="*"/>
      </authorization>
      <!--Form认证设置End-->
      <customErrors mode="Off" defaultRedirect="../404error.htm" />
    </system.web>
    
    <!-- Begin 排除不需要验证的目录或文件-->
    <location path="JS">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="Images">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="CSS">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <location path="AJAX">
      <system.web>
        <authorization>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
    <!-- END 排除不需要验证的目录或文件-->
</configuration>
