<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="SqlProc" value="C_Proc_Select|U_AddAddress|U_Proc_AddOrder" />
    <add key="Mchid" value="1338926101" />
    <add key="key" value="FC126B24014BFF80DBE23AD946AA2CA1" />
    <add key="tenpay_notify" value="http://wx.goto0570.net/WxNotifyUrl.aspx" />
    <add key="redirect_uri" value="http://wx.goto0570.net/Userlogin/userindex.aspx" />
    <add key="imgsrc" value="http://admember.qzmima.com/UploadFile/"/>
    <add key="wxcode" value="http://wx.goto0570.net/Member/"/>
    <add key="wx_codeindex" value="http://wx.goto0570.net/index.aspx"/>
    <add key="appid" value="wxa37a80f597badcc4" />
    <add key="AppSecret" value="6145047d9c3932b7f973cab32277e8bb" />
    <add key="urltop" value="http://wx.goto0570.net/" />
    <add key="smncpost" value="http://smncpost.goto0570.net/index.aspx?"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="JDSITE" connectionString="Data Source=121.43.105.194;Initial Catalog=sanjifenxiao;Persist Security Info=True;User ID=custumer;Password=Cnjdsoft)(*!@#mnb" providerName="System.Data.SqlClient" />-->
    <add name="JDSITE" connectionString="Data Source=192.168.1.189;Initial Catalog=sanjifenxiao;Persist Security Info=True;User ID=cnjdsoft;Password=cnjdsoft;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
      
      <!--
                通过 <authentication> 节可以配置 ASP.NET 用来 
                识别进入用户的
                安全身份验证模式。 
            -->
      <authentication mode="Forms">
        <!--<forms name="YouMai.COMPANY" domain="goyoumai.com" protection="All" timeout="36000" slidingExpiration="true" loginUrl="~/login.html" />-->
        <forms name="WXCJSH" protection="All" timeout="300" slidingExpiration="true" loginUrl="~/index.aspx" />
      </authentication>
      <authorization>
        <allow users="*"/>
      </authorization>
      <customErrors mode="Off" defaultRedirect="~/Userlogin/404_error.aspx" />
      <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      
    </system.web>

</configuration>
